body {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 50px 0;
  text-align: center;
  background: rgba(0, 0, 0, .75);
}

.content {
  margin: 30px auto 90px auto;
  width: 50vw;
  text-align: center;
  line-height: 1.5;
  color: white;
}

h3 {
  font-weight: 400;
}

.btn {
  margin: 0 2em;
  text-align: center;
  display: inline-block;
  height: 40px;
  width: 170px;
  font-size: 13px;
  font-weight: 500;
  line-height: 40px;
  background: linear-gradient(to bottom, #ff1a00 0%, #ff6554 100%);
  color: white;
  border-radius: 40px;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 4px rgba(0, 0, 0, .55);
}

.btn:hover {
  background: #ff6554;
}

.btn:active {
  background: #ff1a00;
}
